In [2]:
import pandas as pd

In [3]:
cd = pd.read_pickle("metagenomic_data_files/Poyet_collection_dates.pkl")
df = pd.read_csv("metagenomic_data_files/Poyet_SRA_report.txt",sep="\t",index_col=3)

In [7]:
hosts = ["am","an","ae","ao"]

df=pd.read_csv("metagenomic_data_files/Poyet_SRA_report.txt",index_col=0,sep="\t")
df["host"] = [s[0] for s in df["sample_alias"].str.split("-")]

df_mg = df.loc[df["scientific_name"] == "human gut metagenome"]
df_mg = df_mg.loc[df_mg["library_strategy"] == "WGS"]

df_mg = df_mg.loc[df_mg["host"].isin(hosts)]

df_mg.index = df_mg["run_accession"]

In [8]:
df_mg = df_mg[["host"]]

In [10]:
df_mg["collection_date"] = cd

In [14]:
df_mg_hosts = df_mg.groupby("host")

In [21]:
df_am = df_mg_hosts.get_group("am")

df_am.loc[df_am["collection_date"].duplicated()]

              host collection_date
run_accession
SRR9224106      am      2016-05-03
SRR9224173      am      2015-01-08
SRR9224244      am      2014-12-22
SRR9224286      am      2015-06-17
SRR9224312      am      2015-03-18
SRR9224348      am      2015-11-14
SRR9224360      am      2014-12-04
SRR9224366      am      2014-12-10
SRR9224421      am      2015-06-25
SRR9224516      am      2015-12-08
SRR9224524      am      2014-12-16
SRR9224528      am      2014-12-19
SRR9224530      am      2014-12-18